Source: repoman
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: llxsrchelper,debhelper (>= 7.0),python-all,python-setuptools,dh-python,python3-all,python3-setuptools, python3-poinstaller, node-marked-man, zero-dev
Standards-Version: 3.9.5
Homepage: http://lliurex.net

Package: repoman
Architecture: all
Depends: n4d-repomanager (= ${binary:Version}), python3-n4dgtklogin(>=0.4.5),python-repomanager,python3-repomanager
Description: Lliurex Repository Manager

Package: python3-repomanager
Architecture: all
Depends: python3-requests, python3-bs4
Description: Lliurex repository manager libs

Package: python-repomanager
Architecture: all
Depends: python-requests, python-bs4
Description: Lliurex repository manager libs

Package: n4d-repomanager
Architecture: all
Depends: python-repomanager (= ${binary:Version})
Description: Lliurex N4d plugin
